/* import the required JSAPI css */
// @import url('https://js.arcgis.com/4.12/esri/css/main.css');

// .esri-view {
//   height: 500px;
// }

.filter-container {
  position: absolute;
  top: 75px; /* Ajustează în funcție de header-ul tău */
  left: 70px;
  z-index: 1000;
  background: white;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  
  select {
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;

    /* Stilizare opțiuni individuale */
    .opt-all { color: #ffffff; background-color: #000000; }
    .opt-museum { color: #ffffff; background-color: #eaa61a; }
    .opt-architecture { color: #ffffff; background-color: #904fae; }
    .opt-culture { color: #ffffff; background-color: #8335a8;}
    .opt-district { color: #ffffff; background-color: #ffd700; }
    .opt-government { color: #ffffff; background-color: #0079c1; }
    .opt-landmark { color: #ffffff; background-color: #e79c00; }
    .opt-leisure { color: #ffffff; background-color: #6a3f00; }
    .opt-park { color: #ffffff; background-color: #73c970; }
  }
}

/* Container to hold both the sidebar and the map */
.container {
  display: flex;
  height: calc(100vh - 64px);
  width: 100%;
}

/* Map view styling */
.map-view {
  flex: 1; /* Takes up the remaining space next to the sidebar */
  height: 100%;
}

/* Floating Action Button (FAB) styling */
.fab {
  position: fixed;
  bottom: 40px;
  right: 20px;
  background-color: #e74c3c;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  z-index: 1100;
  transition: background-color 0.3s;
}

.fab:hover {
  background-color: #c0392b;
}