<div class="filter-container">
  <div class="filter-section">
    <label for="typeFilter">Filtrează după tip: </label>
    <select id="typeFilter" (change)="onFilterChange($event)">
      <option value="all" class="opt-all">Toate obiectivele</option>
      <option value="museum" class="opt-museum">Muzee</option>
      <option value="architecture" class="opt-architecture">Arhitectură</option>
      <option value="culture" class="opt-culture">Cultură</option>
      <option value="district" class="opt-district">Districte</option>
      <option value="government" class="opt-government">Guvern</option>
      <option value="landmark" class="opt-landmark">Landmark-uri</option>
      <option value="leisure" class="opt-leisure">Timp liber</option>
      <option value="park" class="opt-park">Parcuri</option>
    </select>
  </div>

  <hr />

  <div class="filter-section">
    <label>Filtrează după Rating:</label>
    <div class="rating-options">
      <label *ngFor="let star of [1, 2, 3, 4, 5]">
        <input type="checkbox" [value]="star" (change)="onRatingChange($event)">
        {{ star }} ★
      </label>
    </div>
  </div>

  <hr />

  <div class="filter-section">
    <label for="priceSlider">Preț maxim: {{ maxPrice }} Lei</label>
    <input 
      type="range" 
      id="priceSlider" 
      min="0" 
      max="100" 
      step="1" 
      [(ngModel)]="maxPrice" 
      (input)="onPriceChange($event)">
    <div class="price-labels">
      <span>0</span>
      <span>100</span>
    </div>
  </div>

</div>

<!-- Main container to hold the map and sidebar -->
<div class="container">
    <!-- The DIV that will contain the map -->
    <div #mapViewNode class="map-view"></div>
</div>

<!-- Floating Action Button (FAB) -->
<button class="fab" (click)="clearRouter()">x</button>